.omniSequenceInFocus {
    border-color: #FFFFFF !important;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 6px #000000;
}

.omniSequenceHelp {
    background-color: hsla(0, 0%, 0%, 0.9);
    border-radius: 5px 5px 5px 5px;
    color: hsl(120, 50%, 60%);
    font-weight: bolder;
    box-shadow: 0 0 6px hsl(0, 0%, 80%), 0 0 5px 1024px hsla(0, 0%, 0%, 0.6);
    position: fixed;
    top: 2%;
    left: 1%;
    font-size: 16px;
    display: none;
    z-index: 999;
    width:70%;
}

.omniSequenceHelpHeading {
    color: white;
    text-shadow: 1px 1px 1px hsl(240, 70%, 20%);
    margin-bottom: 5px;
    padding: 5px;
    font-size: 1.2em;
}

.omniSequenceHelpHeading > div {
    float: left;
    margin: 5px;
    padding: 3px;
}

.omniSequenceHelpHeading > div:nth-child(3n) {
    float: right;
    margin-left: 30px;

}

.omniSequenceHelpHeading > div:nth-child(4n) {
    clear: both;
    float: none;
    margin: 0px;
    padding:0px;
    background-color: blue;
}

.omniSequenceHelpHeading{
    float: none;
    clear: both;
}

.omniSeqenceHelpList div div {
    text-align: left;
    margin: 10px;
    padding: 2px;
}

.omniSeqenceHelpList div div:nth-child(4n + 1) {
    float: left;
    text-align: center !important;
    width: 50px;
}

.omniSeqenceHelpList div div:nth-child(4n + 2) {
    float: left;
    padding-left: 50px;
}

.omniSeqenceHelpList div div:nth-child(4n+3) {
    float: right;
}

.omniSeqenceHelpList div div:nth-child(4n) {
    float: none;
    clear: both;
    margin: 0px;
    padding: 0px;
}

.omniSeqenceHelpList > div:nth-child(2n - 1) {
    background-color: hsla(0, 0%, 70%, 0.9);
    /*border-radius: 10px 10px 10px 10px;*/
    color: hsl(0, 0%, 0%);
}