.omniSequenceInFocus {
    border-color: #FFFFFF !important;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 6px #000000;
}
.omniSequenceHelp {
background-color: hsla(0, 0%, 0%, 0.9);
border-radius: 5px 5px 5px 5px;
color: hsl(120,50%,60%);
font-weight: bolder;
box-shadow: 0 0 6px hsl(0,0%,80%),0 0 5px 1024px hsla(0,0%,0%,0.6);
position: fixed;
top: 2%;
left:1%;
font-size: 16px;
display:none;
z-index:999
}
.omniSequenceHelpHeading{
color: white;
text-shadow: 1px 1px 1px hsl(240, 70%, 20%);
margin-bottom: 5px;
padding: 5px;
font-size: 1.2em;
}
.omniSequenceHelpHeading span{
margin:5px;
padding: 5px;
}
.omniSeqenceHelpList div span{
margin:10px;
padding: 5px;
}
.omniSeqenceHelpList div:nth-child(2n){
background-color: hsla(0, 0%, 70%, 0.9);
border-radius: 5px 5px 5px 5px;
color:hsl(0,0%,0%);
}
/**
    based on api.jquery focus classes.
*/